* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: 212121;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.hero {
    height: 80%;
    /*background-image: linear-gradient(to bottom, rgba(0, 136, 209, .5), rgba(2, 136, 209, .5)), url('tux.jpg');*/
    background-image: linear-gradient(to bottom, rgba(0, 136, 209, .5), rgba(2, 136, 209, .5)), url('hero.jpg');
    background-position: center center;
    background-size: cover;
}

.hero-lead {
    font-weight: 300;
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
}

.hero-sub-text {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: .05rem;
    margin-bottom: 2.5rem;

}

.hero-content {

}

.hero-button {
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing; .05rem;
    font-weight: 300;
}

a.hero-button {
    color: white;
}

.content {

}

/** flex **/

.flex {
   display: flex;
}

.flex-center-center {
    align-items: center;
    justify-content: center;
}

.flex-column{
   flex-direction: column;
}

.flex-hor-center {
    justify-content: center;
}

.flex-vert-center {
    align-items: center;
}

.flex-pull-left {
    margin-right: auto;
}

.flex-pull-right {
    margin-left: auto;
}

/*helpers*/
.text-center {
   text-align: center;
}

.rounded {
    border-radius: 1000px;
}

.btn {
    display: inline-block;
    padding: .5rem 1.5rem;
    background-color: #0288D1;
    text-transform: uppercase;
    letter-spacing; .05rem;
    color:white;
}

.large-top {
    margin-top: 1rem;
}

/*about*/

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    display:flex;
    flex-wrap: wrap;
}

.col-100 {
    flex: 1 1 100%;
}

.col-25 {
    flex: 0 0 25%;
}

@media screen and (max-width: 767px) {
    .col-25 {
        flex: 1 1 100%;
    }
}

.marketing-section{
    padding:6rem 1rem;
}

.body-copy {
    font-size: 1.4rem;
    letter-spacing: .02rem;
    font-weight: 300;
    line-height: 2.2rem;
    margin-bottom: 1rem;
}

.section-lead {
    font-size: 3rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
    color: #0288D1;
}

/*product*/
.product{
    background: rgb(245, 245, 245);
}

.product-card {
    background: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .05), 0 1px 18px 0 rgba(0, 0, 0, .06), 0 3px 5px -2px rgba(0, 0, 0, .1);
    margin: 1rem;
    padding: 1rem;
}

.product-card img{
    position: relative;
    left: -1rem;
    top: -1rem;
    width: calc(100% + 2rem);
}

.product-title{
    font-size:1.2rem;
    text-transform: uppercase;
    letter-spacing: .05rem;
    margin: 0 0 .5rem;
}

.product-description{
    font-size: 1rem;
    color:rgb(150, 150, 150);
    font-style: italic;
    font-weight: 300;
}

/*map*/

.map {
    border:0;
    width:100%;
    height:450px;
    position: relative;
}

.map-overlay{
    position: absolute;
    background: rgba(0,0,0,0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.map-container{
    position: relative;
}

/*contact form*/
.form-group {
    width: 100%;
    margin: 0 0 2rem;
}

.form-group input, textarea {
    width: 100%;
    border: 0;
    display: block;
    border-bottom: 2px solid #0288D1;
    padding: 1rem;
    transition: border-bottom 300ms ease;
}

.form-group input:focus, textarea:focus {
    border-bottom: 2px solid #E040FB;
    outline: none;
}

.form-group label {
    color: rgb(150, 150, 150);
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-size: .6rem;
}

.btn.submit-btn {
    border: 0;
}
